.subNavContainer {
  display: flex;
  justify-content: flex-end;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detailsBtn {
  background-color: #006639;
  color: #fff;
  border-radius: 30px !important;
  border: 2px solid #006639;
}
